/* Animate the logo with keyframes.  */
#logo {
    animation: growlogo 5s;
}
@keyframes growlogo {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}
body {
    font-family: 'Poppins', serif;
    background-image: url('/images/concrete_seamless.png');
    background-color: #f1f1f1;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_links {
    display: flex;
    flex-direction: column;
}

.nav_item a:visited{
    color: #0000EE;
}

.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
/* Step 7 & 8 */
.card {
    flex-basis: 450px;
}
.pricing {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* not sure if align-items stretch is necessary because it seemed to auto stretch when I applied display flex but adding it just in case */
    align-items: stretch;
}

/* Media queries */

@media only screen and (min-width: 900px) {
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.nav_links {
flex-direction: row;
}
.pricing {
    align-items: center;
}
.card {
    flex-basis: 275px;
}
body > header {
    position: fixed;
    width: 100%;
}
}

@media all and (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
  }

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }
    .nav_links {
        display: flex;
        /* for some reason the width wasn't reading as 100% here at all so justify content was not putting space between the links. I tried selecting nav as a whole, ul.nav_links, and neither of these registered the width at 100% either. I used inspect element to try using space-between and space-around but nothing was moving. My best solution was to change the width to pixels close to the print screen size and do space-around */
        width: 700px;
        flex-direction: row;
        justify-content: space-around;
    }
    .pricing {
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    .card {
        border: 2px solid #45ADDD;
        /* either user agent style sheet on my browser or html5reset  were causing a 5px border radius on all corners so I reset this below to 0px */
        border-radius: 0px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        flex-basis: 325px;
    }
    .gallery {
        display: none;
    }
    /* For some reason the emoji would not show up after the second list item only before the first and at the end. Could this have to do with spacing? */
    .card>ul:nth-child(2)::after {
            content: "\01F44D";
                  }
        }
